{% extends "base.html" %} {% block main %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal" data-whatever="@create">创建房间</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#joinModal" data-whatever="@join">加入房间</button>

<div class="modal fade bs-example-modal-sm" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="joinModalLabel">加入房间</h4>
            </div>
            <div class="modal-body">
                <form action="/api/join" method="post">
                    <div class="form-group">
                        <label for="room-id" class="control-label">输入房间号:</label>
                        <input type="text" class="form-control" id="room-id">
                    </div>
                    <div class="form-group">
                        <label for="user-num" class="control-label">输入桌号:</label>
                        <input type="text" class="form-control" id="user-num">
                    </div>
                    <div class="form-group" id="select-role">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="role-button">
                            选择角色
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-role="role_villagers">平民</a></li>
                            <li>
                                <a href="#" data-role="role_seer">预言家</a></li>
                            <li>
                                <a href="#" data-role="role_idiot">白痴</a></li>
                            <li>
                                <a href="#" data-role="role_savior">守卫</a></li>
                            <li>
                                <a href="#" data-role="role_witch">女巫</a></li>
                            <li>
                                <a href="#" data-role="role_hunter">猎人</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" data-role="role_werewolves">狼人</a></li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">创建房间</h4>
            </div>
            <div class="modal-body">
                <form action="/api/create" method="post">
                    <div class="form-group">
                        <label for="room-size" class="control-label">输入房间人数:</label>
                        <input type="text" name="room_size" class="form-control" id="room-size">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="create-room">确定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  function GetRequest() {
    var url = location.search; //获取url中"?"符后的字串
    var theRequest = new Object();
    if (url.indexOf("?") != -1) {
      var str = url.substr(1);
      strs = str.split("&");
      for(var i = 0; i < strs.length; i ++) {
        theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
      }
    }
    return theRequest;
  }
  var appid = 'wx470ba9b3c2e89e1f'
  $(function() {
    if (GetRequest().code) {
      $.ajax({
        url: 'http://zkibwu.natappfree.cc/api/getCode',
        type: 'get',
        data: {
         code: GetRequest().code
        },
        dataType: 'json',
        success (data, textStatus, request) {
         console.log('发送成功/api/getCode');
         console.log(data);
         console.log(textStatus);
         window.localStorage.Authorization = request.getResponseHeader('Authorization')
        }
      })
      console.log('已经跳转回来')
    } else {
      location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+ appid +'&redirect_uri='+encodeURIComponent('http://zkibwu.natappfree.cc/pre-join/')+'&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect'
    }
  });


  $('#select-role ul li').on('click', function (event) {
    $('#role-button').text($(this).text())
  });

  $('#create-room').click(function() {
    let room_size = $('#room-size')[0].value
    console.log(room_size)
    $.ajax({
      url: 'http://zkibwu.natappfree.cc/api/create',
      type: 'POST',
      data: {
        room_size: room_size
      },
      dataType: 'json',
//      headers: {"Authorization": "Bearer " + localStorage.Authorization},
      success () {
        console.log('发送成功')
      }
    })
  })

  $('#select-role').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever')

    // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
  })
</script>
{% endblock %}