{% extends "base.html" %} {% block main %}
<div class="container" id="room-id" data-roomid={{room_id}}>
    <div class="row">
        <div class="col-md-12">
            <p>这是房间  id是 {{ room_id }}</p>
        </div>
    </div>
    <div id="content">

    </div>
</div>

<script type="text/javascript">
    const userInfo = JSON.parse(window.localStorage.userInfo)
    const roomId = $('#room-id')[0].dataset.roomid
    console.log('userInfo', userInfo, roomId)

    $(function() {
        $.ajax({
          url: 'http://xhweg6.natappfree.cc/api/search/' + roomId,
          type: 'get',
          data: {
//            room_id: roomId
          },
          dataType: 'json',
          headers: {"Authorization": "Bearer " + localStorage.Authorization},
          success (data, textStatus, request) {
            console.log(data)
            var html = render(data);
            document.getElementById("content").innerHTML = html;
          }
        })
        console.log('已经跳转回来')
      function render (data) {
          let arr = ''
          if (data.type === 'guest') {
            data.allPlayers.map(item => {
                arr = arr + `<p>${item.user_num}号玩家，${item.user_role}角色</p>`
            })
            return arr
          }
      }
    });
</script>
{% endblock %}